@model Bilioteca.Models.Book

@{
    ViewData["Title"] = "Devolver";
}

<h2>Devolver</h2>

<h3>Tem certeza que deseja devolver o livro?</h3>
<div>
    <h4>Informações do livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Titulo")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayName("Autor")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayName("Ano")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayName("Status")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        
    </dl>

    <form asp-action="GiveBack">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Author" />
        <input type="hidden" asp-for="Status" />
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="Year" />
        <input type="hidden" asp-for="User" />
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Devolver" value="Salvar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
