@model IEnumerable<Bilioteca.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Listagem de livros</h2>

<p>
    <a asp-action="Create">Cadastrar livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Titulo")
            </th>
            <th>
                @Html.DisplayName("Autor")
            </th>
            <th>
                @Html.DisplayName("Ano")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Local")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                <a asp-action="Borrow" asp-route-id="@item.Id">Emprestar</a> |
                <a asp-action="GiveBack" asp-route-id="@item.Id">Devolver</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |

                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
